body{
    background-color: black;
    color: #00FF41;
}

#email{
    --bs-border-color: #00FF41;
    color: #00FF41;
    box-shadow: none;
}

#email:focus-visible{
    outline: none;
}

#button{
    border: 1px solid #00FF41;
    color: #00FF41;
    border-radius: 0;
}

#button:hover{
    background-color: #00FF41;
    color: black;
}